<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subnetron</title>
    <link rel="icon" href="./static/calculator/images/logo.svg">
    <link rel="stylesheet" href="./static/calculator/styles/style.css">
    <link rel="stylesheet" href="./static/calculator/styles/header.css">
</head>
<body>
    <nav id="header">
        <a id="headerLogo" href="./" style="text-decoration: none;"><img src="./static/shared/images/logo.svg" height="50px"><span>works</span></a>
        <div id="navbarLinks">
            <div id="navbarMainLinks">
                <a class="headerLinks" href="" target="" style="text-decoration: none;">Blog</a>
                <a class="headerLinks" href="./exercises" target="_self" style="text-decoration: none;">Úlohy</a>
                <a class="headerLinks" href="./calculator" target="_self" style="text-decoration: none;">Kalkulačka</a>
            </div>
            
            <a id="headerProject" href="./#aboutProjectSection" target="_self" style="text-decoration: none;">O projektu</a>
            <img id="headerLanguage" src="./static/shared/images/czech_flag.png">
            
        </div>
    </nav>

    <div id="homepage">
        <form id="calculatorSection" action="/calculator/result" method="post">
            <p id="calculatorHeader">Kalkulačka</p>
            <div id="CalculatorInputSection">
                <p class="inputIdentifier">IP adresa</p>
                <div id="inputsSection">
                    <input id="ip-input" type="text" placeholder="192.168.1.25" name="ip" maxlength="15">
                    <p id="slash">/</p>
                    <input id="mask-input" type="text" placeholder="24" name="mask" maxlength="2">
                </div>
            </div>
            <div id="buttonSection">
                <button id="calculateButton">Spočítat</button>
            </div>
        </form>

        <div id="idkSection">
            <p id="idkHeader">Nevíš si rady?</p>
            <p id="idkContentText">Již brzy najdeš na odkazu<br>
               níže podrobná skripta k IP<br>
               adresaci.
            </p>
            <p id="idkButton">Již brzy...</p>
        </div>
    </div>

    
</body>
</html>