<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XTworks</title>
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="icon" href="./images/logo_new.svg">
</head>
<body>
    <nav id="header">
        <a id="headerLogo" href="../Homepage/" style="text-decoration: none;"><img src="./images/logo_new.svg" height="50px"><span>works</span></a>
        <div id="navbarLinks">
            <div id="navbarMainLinks">
                <a class="headerLinks" href="" style="text-decoration: none;">Blog</a>
                <a class="headerLinks" href="../vyber_uloh/" target="_self" style="text-decoration: none;">Úlohy</a>
                <a class="headerLinks" href="../kalkulacka/" target="_self" style="text-decoration: none;">Kalkulačka</a>
            </div>
            
            <a id="headerProject" href="../Homepage/#aboutProjectSection" style="text-decoration: none;">O projektu</a>
            <img id="headerLanguage" src="./images/czech_flag.png">
            
        </div>
    </nav>
    <div id="homepage">
        <div class="sections">
            <p class="section-header">IP adresace</p>
            <p class="section-content">V těchto úlohách<br>
                bude tvým úkolem<br>
                určit jednotlivé IP<br>
                adresy v síti.
            </p>
            
            <div id="ip-section-button">
                <a id="ip-section-button-self" href="../ip_adresace/" target="_self" style="text-decoration: none;">Začít počítat</a>
            </div>
        </div>
        
        <div id="middle-text">Vyber, jaký<br>
            typ úloh<br>
            chceš řešit.
        </div>

        <div class="sections">
            <p class="section-header">FLSM/VLSM</p>
            <p class="section-content">Tvým cílem bude<br>
                rozdělit daný adresový<br>
                rozsah na zadané<br>
                podsítě.
            </p>
            <p id="flsm-vlsm-section-button">Již brzy...</p>
        </div>
    </div>
</body>
</html>