@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Urbanist:wght@300&display=swap');

#header {

    position: relative;
    display: flex;
    align-items: center;
    top: 59px;
    left: 370px;
    max-width: fit-content;
}

#headerLogo {

    margin-right: 385px;

    color: #000;
    font-family: Urbanist;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: light;
    letter-spacing: 2px; 
}

span {

    margin-left: 9px;
}

.headerLinks:hover {

    border-bottom: 1px solid #FFF;
}

.headerLinks:nth-child(2) {

    margin-right: 43px;

    color: #FFF;
    font-family: Urbanist;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px; 
}

.headerLinks:nth-child(3) {
    
    margin-right: 43px;

    color: #FFF;
    font-family: Urbanist;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px; 
}

.headerLinks:nth-child(4) {

    margin-right: 69px;

    color: #FFF;
    font-family: Urbanist;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px; 
}

#headerProject{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 44px;

    color: #FFF;
    font-family: Urbanist;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px; 

    border-radius: 5px;
    border: 2px solid #FFF;
    margin-right: 66px;
}