@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Urbanist:wght@300&display=swap');



#header {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 385px;
    top: 59px;
    left: 370px;
    max-width: fit-content;
}

#headerLogo {

    color: #000;
    font-family: Urbanist;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: light;
    letter-spacing: 2px;

    transition: scale 0.2s, translate 0.2s;
}

#headerLogo:hover {

    scale: 1.1 1.1;
    translate: 13px 0;
}

#headerLogo:visited {

    color: #000;
}

span {

    margin-left: 9px;
}

#navbarLinks {

    display: flex;
    justify-content: space-between;
    gap: 69px;
    align-items: center;
}


#navbarMainLinks{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 43px;
    width: 229px;
}

.headerLinks {

    color: #FFF;
    font-family: Urbanist;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px; 
    transition: scale 0.2s;
}

.headerLinks:hover {

    scale: 1.2 1.2;
    font-weight: 900;
}

#headerProject{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 44px;

    color: #FFF;
    font-family: Urbanist;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px; 

    border-radius: 5px;
    border: 2px solid #FFF;

    transition: scale 0.2s;
}

#headerProject:hover {

    background: rgba(0, 0, 0, 0.15);
    scale: 1.1 1.1;
}