@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Urbanist:wght@300&display=swap');

.sectionAnimation:hover {

    animation-iteration-count: 1;
    animation: sectionOnHover 0.1s linear forwards;
}

@keyframes sectionOnHover {

    100% {

        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transform: translateY(-15px);
        transform: scale(1.1,1.1);
    }
}


.footerImage:hover {

    animation-iteration-count: 1;
    animation: imagesOnHover 0.1s linear forwards;
}

@keyframes imagesOnHover {
    
    100% {

        transform: scale(1.1,1.1);
    }
}