@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Urbanist:wght@600&display=swap');



body {

    margin: 0;
    width: auto;
    
}

#homepage {
    
    position: relative;
    
    margin-top: 0;
    background-image: url("../images/background_homepage.png");
    height: 955px;
    width: auto;

}

#hiddenMessage {

    display: none;
}

#title {

    position: relative;
    left: 370px;
    top: 280px;
    max-width: fit-content;
}

#slogan {

    color: #FFF;
    font-family: Urbanist;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px; 
}

#subtitle {

    margin-top: 3px;

    color: #FFF;
    font-family: Urbanist;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px; 
}

#titleButton {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-radius: 5px;

    background-color: #013A8F;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

    color: #FFF;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px; 

    margin-top: 27px;
}

#titleButton:hover {

    background-color: rgb(22, 87, 185);
}


#titleButton:visited {

    color: #FFF;
}



#homepageMain {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 245px;
}


#sections {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 112px; 
}

.sectionTitle {

    margin-top: 31px;
    

    color: #FFF;
    text-align: justify;
    font-family: Urbanist;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px; 
}

.sectionContent {

    display: flex;
    justify-content: center;

    color: #FFF;
    text-align: center;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.sectionButton {

    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 33px;*/

    height: 50px;
    width: 200px;
    border-radius: 5px;

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #013A8F;

    color: #FFF;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px; 
}

.sectionButton:hover {

    background-color: rgb(22, 87, 185);
}

#firstSection {

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 319px;
    height: 330px;
    

    background-color: #132E65;
    
}


#secondSection {

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 319px;
    height: 330px;

    background-color: #132E65;
    
}

#secondSectionContent {

    margin-bottom: 50px;
}

#secondSectionTitle {

    text-align: center;
    margin-bottom: 23px;
}

#secondSectionButton {

    margin: 0;

    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}

#thirdSection {

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 319px;
    height: 330px;

    background-color: #132E65;
    
}

#thirdSectionTitle {

    margin-bottom: 37px;
}

#thirdSectionContent {

    margin-bottom: 27px;
}


#aboutProject {

    display: flex;
    justify-content: center;
    width: auto;
}

#aboutProjectSection {
    
    height: 234px;
    width: 660px;
    
    border-radius: 20px;
    border: 2px solid #132E65;
    background: #FFF; 
}

#aboutProjectTitle {

    color: #132E65;
    font-family: Urbanist;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px; 
}

#aboutProjectContent {

    color: #132E65;
    text-align: center;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px; 
}

#timeLineMain {

    display: flex;
    justify-content: center;
    
}

#timeline {

    width: 1180px;
    height: 320px; 

    border-radius: 20px;
    background: #132E65; 
}

#timelineContent {

    display: flex;
}

svg {

    margin-left: 80px;
    margin-top: 35px;
}

#timelineContentDate {

    margin-top: 35px;
    margin-left: 64.5px;
    margin-bottom: 10.5px;

    color: #FFF;
    font-family: Urbanist;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px; 
}

#timelineContentRecordTable {

    margin-left: 65px;
    margin-top: 7px;

    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px; 
}

#timeLineSpliter {

    background-color: #FFF;
    height: 2px;
    margin-left: 65.48px;
}
